In [1]:
import pandas as pd

import numpy as np
from pandas import DataFrame,Series

import matplotlib.pyplot as plt 
%matplotlib inline

### Ejercicio 1

In [2]:
import bz2

In [3]:
f = bz2.BZ2File('bookings.csv.bz2')

In [4]:
n = 0
for l in f:
    n += 1

In [5]:
n

10000011

### Ejercicio 2

tenemos que buscar el top 10 de aeropuertos por número de llegadas

In [6]:
# vamos a leer sólo las primeras 100.000 líneas

b = pd.read_csv('bookings.csv.bz2',sep='^',nrows=1e5)

In [7]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [8]:
# agrupamos por la columna arr_port creando un dataframe con groupby de la columna aeropuerto

df_aeropuerto = b.groupby("arr_port")

In [9]:
# aplicamos la función suma a todos los campos del dataframe groupby

df_sumaeropuerto = df_aeropuerto.aggregate(sum)

# otra forma sería  df_aeropuerto.pax.sum()

In [10]:
# ordenar de mayor a menos por la columna pax

df_sumaeropuerto.sort("pax", ascending=False)

          duration  distance  intl   pax     year  month
arr_port
LHR       55095468    921143  2022  1006  4247430   4654
MCO       12777782    195109   341   861  2097546   2254
JFK       53373762   1305730  1297   795  3401970   3837
LAX       35111138    874985   735   761  3156384   3480
BKK       30188252    418702  1215   747  2663199   2683
LAS        9117120    235950   330   732  1914363   1948
SFO       27171337    644069   509   705  2473977   2730
ORD       22417385    353628   381   686  2512224   2914
CDG       33156039    540786  1398   676  2898720   3191
DXB       20988613    654353  1249   587  2528328   2446
MIA       25289861    457952   887   585  2568588   2486
EWR       16344587    390439   382   539  1382931   1523
DFW        7705045    171787   127   514  1413126   1469
ATL       10958597    201199   129   498  1453386   1617
IST       14646600    261857  1016   497  2079429   2452
FCO       17729018    257297   667   479  1686894   1827
LGA        4135500    166784    57   472  1475529   1762
CUN        6879614     75763   575   447  1225917   1214
FLL        3427487    221043   106   435   849486    880
DEN        5735873    205172    86   403  1056825   1140
HKG       29228529    376540   937   400  1896246   2122
BOS       12544772    330637   202   387  1483581   1675
DCA        4806363    139643    41   381  1240008   1456
PHX        7536326    165132    78   377  1129293   1178
PEK       31507708    515968   697   375  1467477   1774
SEA        8750269    377700   110   363  1250073   1519
BOM       25772284    645570   611   361  1666764   1720
MAD       15857420    267069   614   356  1604361   1580
HNL        7789235    378344   158   352   940071   1035
MUC        7139731    194425   517   344  1316502   1288
...            ...       ...   ...   ...      ...    ...
EZS          60784         0     2    -2     4026      6
URY           3450         0     0    -2     4026     10
IXL          52545      1240     0    -2    14091     17
XUZ          63040         0     3    -2     8052      4
YAY           6604         0     0    -2     4026      6
HDS          25702         0     2    -2     4026      6
MAO         165127      9914     3    -3    48312     50
IGU         457147       845    14    -3    42273     52
HMB         182596      1626     3    -3     6039      3
ASU         128194     28948    19    -3    38247     59
JHB          17556       243     2    -3    14091     11
ASR         253328         0    10    -4    28182     46
XMB         169284         0     6    -4    12078     26
RFP          21336         0     0    -4     4026      6
LDH          81612     68912     1    -4     8052      4
FSC         137129       960     0    -5    18117     23
BOB         227737        72     2    -5    34221     57
STS          56919         0     2    -6    14091     21
KSN          94692         0     3    -6     6039      9
LGK         656705         0    14    -6    74481     37
KLU          40198         0     2    -6     4026      2
RAR         378770         0    22    -8    48312     80
PRI         297302      1024    16    -8    32208     24
BEL         124853      3524    10    -8    24156     32
MOZ         301338         0     6   -14    18117      9
RIX         760837     19031    59   -21   118767    131
LXR         597921      1533    14   -30    64416     46
DBV         571718      2024    38   -30    76494     92
KZN         175415      2005    10   -45    44286     70
AYQ         957391      7884     9  -146    70455     35

[1506 rows x 6 columns]

In [11]:
# seleccionamos sólo los 10 primeros

top_ten_aer = df_sumaeropuerto.sort("pax", ascending=False).head(10)

In [12]:
top_ten_aer["pax"]

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

In [ ]:
# Solución propuesta

b = pd.read_csv('bookings.csv.bz2', sep='^')
g = b.groupby('arr_port')
s = g.pax.sum()
d = s.reset_index()
d.sort('pax', ascending=False).head(10)